<!DOCTYPE HTML>
<html>
<head>
<title>CN Chat App</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script>
    Date.prototype.format = function(fmt) {
     var o = {
        "M+" : this.getMonth()+1,                 //月份
        "d+" : this.getDate(),                    //日
        "h+" : this.getHours(),                   //小时
        "m+" : this.getMinutes(),                 //分
        "s+" : this.getSeconds(),                 //秒
        "q+" : Math.floor((this.getMonth()+3)/3), //季度
        "S"  : this.getMilliseconds()             //毫秒
    };
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt;
}
</script>
<script type="text/javascript" charset="utf-8">

    var socket = io.connect("http://127.0.0.1:5000");
    function enter_room(rid) {
        socket.emit('enter room', {'rid': rid})
    }

    function back() {
        document.getElementById("auth").style.display = "none"
        document.getElementById("whole_system").style.display = 'inline'
    }

    function into() {
        authpassword = document.getElementById('authpassword').value
        authrid = document.getElementById('authrid').value
        socket.emit('please auth', {'authpassword': authpassword, 'authrid': authrid})
    }

    function exit() {
        socket.emit('exit room', {'rid': document.getElementById('rid').value})
    }

    function set_partner(partner) {
        socket.emit('set partner', partner)
    }

    function loadXMLDoc(mode) {
        console.log(mode)
        var xmlhttp;
        if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("GET", "/ajax?mode=" + mode, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.status == 200 && xmlhttp.readyState == 4){
                var mode = xmlhttp.responseText;
                document.getElementById('mode').value = mode;
            }
        }

    }

    $(document).ready(function() {

        socket.on('connection', function() {
            socket.emit('connection', {'data': 'I\'m connected!'});
        });

        socket.on('connection success', function(msg) {
            username = msg;
            document.getElementById("hello").innerHTML = "<h2>"+"Hello, "+msg+"!"+"</h2>";
            document.getElementById("welcome").innerHTML = "<h2>Welcome " + msg + "!</h2>";
        })

        socket.on('my response', function(msg) {
            if (msg.private==0) {
                document.getElementById("myDiv").innerHTML += "<p class='msg-title'><span class='user-name'>" + msg.name + "</span> at " + msg.time + "</p><p>" + msg.data + "</p>";
                document.getElementById('scname').value = ''
            } else {
                document.getElementById("myDiv").innerHTML += "<p class='msg-title'><span class='user-name'>" + msg.name + "</span> at " + msg.time + "<span class='private-text'> (privately to " + msg.to +")</p><p>" + msg.data + "</p>";
                document.getElementById('scname').value = ''
            }
        });

        socket.on('room response', function(msg) {
            document.getElementById("room_box").innerHTML += "<p class='msg-title'>" + msg.name + " at " + msg.time + "</p>"+"<p>" + msg.data + "</p><br>";
            document.getElementById('room_text').value = ''
        })

        $('#emit').submit(function(event) {
            socket.emit('my event', {'data': document.getElementById("scname").value, 'time': new Date().format("yyyy-MM-dd hh:mm:ss")});
            return false;
        });

        $('#room_emit').submit(function(event) {
            socket.emit('room chatting', {'msg': document.getElementById("room_text").value, 'room': document.getElementById('rid').value, 'time': new Date().format("yyyy-MM-dd hh:mm:ss")});
            return false;
        })

        $('#create').submit(function(event) {
            room_name = document.getElementById("room_name").value;
            room_description = document.getElementById("description").value;
            room_password = document.getElementById("room_password").value;
            socket.emit('create room', {'name': room_name, 'description': room_description, "password": room_password})
            return false;
        })

        socket.on('new room', function(msg) {
            document.getElementById("chatting_room").innerHTML = "<h3>Current Chatting Rooms:</h3>";
            var length = msg.existing_rooms_names.length;
            if(length==0){
                document.getElementById('chatting_room').innerHTML += "No chatrooms currently open"
            }
            document.getElementById('chatting_room').innerHTML += '<ul>';
            for (var i=0; i<length; i++) {
                document.getElementById('chatting_room').innerHTML += "<li> <button onclick=enter_room(" + msg.existing_rooms_ids[i]
                + ")>"+ msg.existing_rooms_names[i] + "</button>" + "<br>" + "Creator:" + msg.creator[i] + "<br>"+ msg.existing_rooms_descriptions[i] + "<br>" + msg.type[i]
            }
            document.getElementById('chatting_room').innerHTML += '</ul>';
        });

        socket.on('auth', function(msg) {
            document.getElementById('authrid').value = msg.rid
            document.getElementById('whole_system').style.display = 'none'
            document.getElementById('auth').style.display = 'inline'
        })

        socket.on('join success', function(msg) {
            room = msg.room
            rid = msg.rid
            members = msg.members
            document.getElementById('rid').value = rid

            document.getElementById('room_info').innerHTML = "<h2> Chatroom: " + room + "</h2>"
            document.getElementById('members').innerHTML = '<h3>Current members in this room:</h3>'
            document.getElementById('members').innerHTML += '<ul>'
            var length = members.length;
            for (var i=0; i<length; i++) {
                document.getElementById('members').innerHTML += "<li>" + members[i]
            }

            document.getElementById('errormsg').innerHTML = ''
            document.getElementById('authpassword').value = ''
            document.getElementById('whole_system').style.display = 'none'
            document.getElementById('room').style.display = 'inline'
            document.getElementById('auth').style.display = 'none'
        });

        socket.on('auth fail', function() {
            document.getElementById('errormsg').innerHTML = '<p>Inaccurate Password</p>'
        })

        socket.on('exit success', function() {
            document.getElementById('room_box').innerHTML = ''
            document.getElementById('whole_system').style.display = 'inline'
            document.getElementById('room').style.display = 'none'
        })


        socket.on('user change', function(msg) {
          //create list of buttons of users currently online to select private messaging
          document.getElementById("users").innerHTML = "<h3>Send message to:</h3>";
          var length = msg.connected_users.length;
          document.getElementById('users').innerHTML += '<ul>'
          document.getElementById('users').innerHTML += "<li> <button onclick=set_partner('all')>Everyone</button>"
          for (var i=0; i<length; i++) {
            document.getElementById('users').innerHTML += "<li> <button onclick=set_partner('"+msg.connected_users[i]+"')>"+ msg.connected_users[i] + "</button>"
            }
          document.getElementById('users').innerHTML += '</ul>';
        });

        socket.on('set partner success', function(msg){
          //send confirmation message to chat
          if(msg == "all"){
            document.getElementById("myDiv").innerHTML += "<p> [notice] Now sending to everyone.</p><br>";
          }
          else {
            document.getElementById("myDiv").innerHTML += "<p> [notice] Now sending privately to " + msg + ".</p><br>";
          }
        })


        var mode = document.getElementById('mode').value
        if (mode == 'day mode') {
            var bg_color = "#ffffff"
            var bg_light = "#defaf9"
            var text_color = "#000000"
            var line_color = "#0b3f4d"
            $("body").css("background-color", bg_color);
            $(".text").css("color", text_color);
            $(".chat-input").css("color", text_color);
            $(".chat-input").css("background-color", bg_light);
            $("#myDiv").css("background-color",bg_light);
            $("#room_box").css("background-color",bg_light);
            $("#container").css("background-color",bg_light);
            $("hr").css("border-color",line_color);
        }
        if (mode == 'night mode') {
            var bg_color = "#0b3f4d"
            var bg_light = "#255c6b"
            var text_color = "#cee7ed"
            var line_color = "#2a8eeb"
            $("body").css("background-color", bg_color);
            $(".text").css("color", text_color);
            $(".chat-input").css("color", text_color);
            $(".chat-input").css("background-color", bg_light);
            $("#myDiv").css("background-color",bg_light);
            $("#room_box").css("background-color",bg_light);
            $("#container").css("background-color",bg_light);
            $("hr").css("border-color",line_color);
      }

        $('#nightmode').click(function (){
            var bg_color = "#0b3f4d"
            var bg_light = "#255c6b"
            var text_color = "#cee7ed"
            var line_color = "#2a8eeb"
            $("body").css("background-color", bg_color);
            $(".text").css("color", text_color);
            $(".chat-input").css("color", text_color);
            $(".chat-input").css("background-color", bg_light);
            $("#myDiv").css("background-color",bg_light);
            $("#room_box").css("background-color",bg_light);
            $("#container").css("background-color",bg_light);
            $("hr").css("border-color",line_color);

            mode = "night mode"
            loadXMLDoc(mode)
        })

        $('#daymode').click(function (){
            var bg_color = "#ffffff"
            var bg_light = "#defaf9"
            var text_color = "#000000"
            var line_color = "#0b3f4d"
            $("body").css("background-color", bg_color);
            $(".text").css("color", text_color);
            $(".chat-input").css("color", text_color);
            $(".chat-input").css("background-color", bg_light);
            $("#myDiv").css("background-color",bg_light);
            $("#room_box").css("background-color",bg_light);
            $("#container").css("background-color",bg_light);
            $("hr").css("border-color",line_color);

            mode = "day mode"
            loadXMLDoc(mode)
        })

    });
</script>

<style type="text/css">

    body {
        background-color: #0b3f4d;
    }

    p {
        position: relative;
        left:10px;
    }

    .msg-title {
        font-weight:bold;
        position: relative;
        left:8px;
        margin-bottom: -5px;
    }

    hr {
        border-color: #2a8eeb;
        border-width: thick;
    }

   #whole_system {
        position: absolute;
        display: block;
    }

    #room, #auth {
        position: absolute;
        display: none;
    }

    .text {
        color: #cee7ed;
    }

    .private-text {
        color: #731d27;
    }

    #myDiv, #room_box {
        width: 500px;
        height:400px;
        overflow:scroll;
        overflow-x: hidden;
        border-style: solid;
        border-width: thin;
        border-radius: 5px;
        background-color: #255c6b
    }

    .chat-input {
      width: 500px;
      height:25px;
      border-style: solid;
      border-width: thin;
      border-radius: 5px;
      background-color: #255c6b;
      color: #cee7ed;
    }

    #container {
        position: absolute;
        width: 350px;
        height: 800px;
        left:700px;
        top:5px;
        border-style: solid;
        border-width: thin;
        background-color: #255c6b
    }

    #users {
        width: 300px;
        height: 300px;
        position:relative;
        left:20px;
        overflow-x: auto;
    }

    #members {
      width: 300px;
      height: 300px;
      position:absolute;
      top: 115px;
      left: 600px;
      overflow-x: auto;
    }

    #chatting_room {
        width: 300px;
        height: 300px;
        position:relative;
        left: 20px;
        overflow-x: auto;
    }

    #logout {
       position:absolute;
       left:430px;
       top: 30px;
    }

    textarea {
        resize: none;
        width: 300px;
        height: 100px;
        border-color: grey;
        border-width: 2px;
        border-style: double;
    }

    #daymode {
        position: absolute;
        top:40px;
        left:860px;
    }

    #nightmode {
        position: absolute;
        top:40px;
        left:940px;
    }

    #scname, #room_name, #room_password {
        border-color: grey;
        border-width: 2px;
        border-style: double;
    }

</style>

</head>

<body>
<h1 class="text"><b>CN</b> Chat App</h1>
<input type="button" id="daymode" value="day mode">
<input type="button" id="nightmode" value="night mode">
<input type="hidden" id="mode" name="mode" value="{{ mode }}">

<hr>

<div id=whole_system>

<div id="hello" class="text"></div>
<form action='/' method="GET">
<input id="logout" type="submit" value="log out">
</form>

<div id="myDiv" class="text"></div>
<div class="chat-input">
<form id="emit" action="#" method="POST">
    <input type="text" size="60" name="scname" id="scname"></input>
    <input type="submit" value="submit">
</form>
</div>

<div id="container" class="text">
<div id='users' class="text">
<h3>Send message to:</h3>
</div>
<div id='chatting_room' class="text">
<h3>Current Chatting Rooms:</h3>
</div>
</div>

<h2 class="text">Create a new chatting room:</h2>
<form id="create" action="#" method="POST" class="text">
    <b>Room Name:</b><br><input type="text" name="room_name" id="room_name" required><br>
    <b>Room Description:</b><br><textarea name="description" id="description"></textarea><br>
    <b>Room Password:</b><br>(If you put nothing here, it means this room is available to everybody)<br><input type="password" name="room_password" id="room_password"><br>
    <input type="submit" value="create">
</form>

</div>

<div id='room'>

<div id='welcome' class="text"></div>
<div id='room_info' class ="text"></div>
<button id='exit_room' onclick='exit()'>Leave the room</button>
<input type='hidden' id='rid' name='rid'/>


<div id="room_box" class="text"></div>

<form id="room_emit" action="#" method="POST" class="chat-input">
    <input type="text" name="room_text" id="room_text" size="60"></input>
    <input type="submit" value="submit">
</form>

<div id='members' class="text"></div>

</div>

<div id="auth">
<button id='back' onclick='back()'>Go back</button>
<h2 class="text">If you want to enter this room, please enter the password here:</h2>
<input type="password" name='authpassword' id='authpassword'>
<button id='into' onclick='into()'>Enter</button>
<input type='hidden' name='authrid' id='authrid'>
<div id='errormsg'></div>
</div>
</body>
</html>
